<?xml version="1.0" ?>
<model>
    <name>RestaurantModel</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>RUIWU LIU</name>
        <email>Rev.liu@mail.utoronto.ca</email>
    </author>
    <description>A Burgerking Restaurant</description>
</model>
